<div class="hero-unit">
  <h1>Cost Accounting <small>Are you making a profit from your widgets?</small></h1>

  <p>
    I'm currently studying to become an Accounting Technician and I'm having
    to learn a bunch of accounting concepts. I quite like to learn by coding:
    if I understand enough of a concept to write code that implements it, I
    probably know enough to pass the exam, too.
  </p>

  <p>
    One of my colleagues asked if there was an app out there that does basic
    Cost Accounting. My answer of "Excel" was not appreciated.
  </p>

  <p style="text-align: center">
    <%= link_to 'Sign up now &rarr;'.html_safe, new_user_registration_path, class: 'btn primary large' %>
  </p>
</div>