<div class="hero-unit">
  <%= render 'description' %>

  <p>
    Once you've created a company, you can add products to it and start
    modelling their cost behaviours.
  </p>

  <p style="text-align: center">
    <%= link_to 'Create my first company &rarr;'.html_safe, new_company_path, class: 'btn primary large' %>
  </p>
</div>