<h1>My Companies</h1>

<p>
  A company is the unit which produces products and has costs associated
  with it. You may only have one company if you're just modelling a single,
  simple business. On the other hand, you might want to try out several
  variations of a model. Keep each in a separate company so you can compare
  them. Or, in a larger organisation, you might want to model separate
  organisational units or profit centres as separate companies. It's up to
  you, really!
</p>
