<%= form_for company do |f| %>
  <%= form_text_input f, :text_field, :name, label: 'Company name', autofocus: true, class: 'xlarge' %>

  <div class="actions">
    <%= f.submit company.new_record? ? "Create company" : 'Update company', class: 'btn primary' %>
    <%= link_to 'Cancel', companies_path, class: 'btn' %>
  </div>
<% end %>
