<ul class="breadcrumb">
  <li><%= link_to 'My Companies', companies_path %> <span class="separator">/</span></li>
  <li class="active"><%= link_to 'Edit company', edit_company_path(@company) %></li>
</ul>

<h1>Edit <%= @company.name %></h1>

<%= render 'form', company: @company %>
