<ul class="breadcrumb">
  <li class="active"><%= link_to 'My Companies', companies_path %></li>
</ul>

<% if @companies.present? %>
  <%= render 'table', companies: @companies %>
<% else %>
  <%= render 'blank_slate' %>
<% end %>
